@model IEnumerable<Propietario>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Propietario</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col">Dni</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach(var propietario in Model)
            {
                <tr>
                    <td>@propietario.Nombre</td>
                    <td>@propietario.Apellido</td>
                    <td>@propietario.Email</td>
                    <td>@propietario.Telefono</td>
                    <td>@propietario.Dni</td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
